<div class="cardMargin">
	 <div class="ui card">
		<div class="image">
			<img src="../assets/images/newspaper.png">
		</div>
		<div class="content">
			<div class="header">The Region</div>
			<div class="meta">Northwest Indiana news courtesy of nwitimes.com&copy;</div>
			<p class="description">
				<em>The Region</em> is an Angular 2 application that accesses Really Simple Syndication (RSS) headline feeds from nwitimes.com&copy; (A Lee Enterprises newspaper).   
			</p>
			<p class="description">
				Visit the Times web site at: <a href="http://www.nwitimes.com" target="_blank">http://www.nwitimes.com</a>.
			</p>
			<p class="description">
				Information concerning the Times RSS feeds is available at: <a href="http://www.nwitimes.com/pages/rss/" target="_blank">http://www.nwitimes.com/pages/rss/</a>.
				
				
			</p>
			
			<address>
				Any questions?<br/>
				Contact us @ <a href="mailto:jam3s8ell@gmail.com">jam3s8ell@gmail.com</a>
			</address>
		</div>
	</div>
</div>
