<div class="cardMargin">
	<div class="ui raised segment" (click)="readArticle()">
		<div >
			<div class="meta"><small>{{article.pubDate | timeAgo }}</small></div>
			<div><strong>{{ article.title }}</strong></div>
			<div><small><em>{{ article.author }}</em></small></div>

			<div class="ui one column grid" *ngIf="!article.imageLink">
			  <div class="column"><small>{{ article.description }}</small></div>
			</div>

			<div class="ui grid" *ngIf="article.imageLink">
				<div class="two column row">
					<div class="left floated column"><small>{{ article.description }}</small></div>
					<div class="right floated column"><img class="ui small image" [src]="article.imageLink"></div>
				</div>
			</div>

		</div>
	</div>
</div>