<div class="bannerMargin">
	<h2 style="margin-bottom:0.2em;">The Region</h2>
	<div><small><em>Northwest Indiana news courtesy of <a href="http://www.nwitimes.com" target="_blank">nwitimes.com</a></em>&copy;</small></div>
</div>
<div>
	<div class="ui stackable menu">
		<a class="item" [routerLink]="['latest']"><small>Latest</small></a>
		<a class="item" [routerLink]="['lakeco']"><small>Lake County</small></a>
		<a class="item" [routerLink]="['porterco']"><small>Porter County</small></a>
		<a class="item" [routerLink]="['indiana']"><small>Indiana State</small></a>
		<a class="item" [routerLink]="['illinois']"><small>South Suburban</small></a>
		<a class="item" [routerLink]="['national']"><small>National</small></a>
		<a class="item" [routerLink]="['world']"><small>World</small></a>
		<a class="item" [routerLink]="['about']"><small>About Us</small></a>
	</div>
	<router-outlet></router-outlet>
</div>