@import './app/vendor/semantic.min.css';

	.cardMargin {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-right: 1.0em;
		margin-left: 1.0em;
	}
  
	.bannerMargin{
		margin-top: 0.0em;
		margin-bottom: 0.0em;
		margin-right: 1.0em;
		margin-left: 1.0em;
	}
